<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>国の詳細</title>
</head>
<body>
    <h1><%= data.name %> の詳細</h1>
    <ul>
        <li>ID: <%= data.id %></li>
        <li>首都: <%= data.capital %></li>
    </ul>
    <a href="/country">国一覧に戻る</a>
</body>
</html>