<!DOCTYPE html>
<html lang="ja">
<head><meta charset="UTF-8"><title>ハンドサイン詳細</title></head>
<body>
    <h1><%= data.name %> の詳細</h1>
    <ul>
        <li>ID: <%= data.id %></li>
        <li>用途: <%= data.usage %></li>
    </ul>
    <a href="/handsign">ハンドサイン一覧に戻る</a>
</body>
</html>