<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>сѓисѓ╣сЃєсЃаСИђУдД</title>
</head>
<body>
    <h1>сѓисѓ╣сЃєсЃажЂИТіъ</h1>
    <ul>
        <li><a href="/country">­ЪїЈ тЏйТЃЁта▒сѓисѓ╣сЃєсЃа</a></li>
        <li><a href="/color">­Ъје УЅ▓тйЕТЃЁта▒сѓисѓ╣сЃєсЃа</a></li>
        <li><a href="/handsign">Рюї№ИЈ сЃЈсЃ│сЃЅсѓхсѓцсЃ│сѓисѓ╣сЃєсЃа</a></li>
    </ul>
</body>
</html>